<!DOCTYPE html>
<html>
  <!--
  /*

  Html template
  ====

  This template is used when rendering docs to html, to wrap the markdown inside an html document.

  */
  -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="./template/default.css">
  </head>
  <body>
    <div>
      {{ content }}
    </div>

    <script type="text/javascript" src="./template/default.js"></script>
  </body>
</html>
